.notif-ph{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

/* push inner container  */
.popup.container{
    /* position: absolute; */
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

/* push header  */
.popup.container .block-header{
    padding-bottom: 12px;
}
